html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(216, 214, 214);
    width: 100%;
    height: 100hv;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    /*background-color: rgb(100, 124, 148);*/
    min-height: calc(100vh - 50px);
    overflow: auto;
    margin-top: 50px;
    margin-left: 125px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

h1 {
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 125px;
    float: left;
    background-color: rgb(200, 200, 200);
    height: 100vh;
    padding: 10px;
}

th,
td,
table {
    border: 1px solid black;
}

th {
    font-size: large;
    font-weight: 600;
    text-align: left;
    padding: 5px;
}

td {
    font-size: large;
    font-weight: 300;
    text-align: left;
    padding: 5px;
}

img {
    width: auto;
    height: 150px;
}

p {
    font-size: medium;
    word-spacing: 1px;
    text-indent: 20px;
}

table {
    align-self: center;
}

fieldset {
    text-align: center;
    background-color: rgb(244, 168, 160);
    border: 1px solid black;
    border-width: 2px;
    border-radius: 15px;
    border-style: dashed;
}

input[type=button],
input[type=file] {
    background-color: silver;
    border: 1px solid rgb(0, 21, 88);
    border-width: 2px;
    border-radius: 5px;
}